<header id="header" class="header fixed-top d-flex align-items-center header_bg_color">
  <div class="d-flex align-items-center justify-content-between gap-2">
    <div class="d-flex align-items-center gap-1 cursor-pointer" routerLink="/oms/dashboard">
      <img src="em-logo.png" alt="Profile" class="rounded-circle me-2" style="width:52px;height:52px;" />
      <span class="d-md-block fs-4 text-white">{{ user()?.username }}</span>
    </div>
    <div class="mt-1" appToggleSidebar (sidebarToggled)="onSidebarToggle($event)">
      @if (isSidebarOpen()) {
        <i class="bi bi-x fs-3 text-white cursor-pointer"></i>
      } @else {
        <i class="bi bi-list fs-3 text-white cursor-pointer"></i>
      }
    </div>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-flex align-items-center">
        <i class="text-white">Log Out</i>
      </li>
      <li class="nav-item d-flex align-items-center pe-3">
        <button class="btn btn-link ms-1" (click)="logout()" title="Sign Out">
          <i class="bi bi-box-arrow-right text-white fs-5"></i>
        </button>
      </li>
    </ul>
  </nav>
</header>
